Repository tibiadata/tibiadata-api-go, pull requests merged in 2024-03, with the labels that each got.

#332 update go mods
  go.mod
  go.sum
  src/static/go.mod
  src/tibiamapping/go.mod
  src/tibiamapping/go.sum
  src/validation/go.mod
  src/validation/go.sum
Labels: dependencies

#333 fix permission issues with Dockerfile nonroot implementation
  Dockerfile
Labels: bug, docker

#339 switch from custom proxy to tailscale vpn
  .github/workflows/codecov.yml
Labels: github_actions

#338 fix character killer parser by rewrite of death parsing logic
  src/TibiaCharactersCharacter.go
  src/TibiaCharactersCharacter_test.go
  src/static/testdata/characters/Ninth Dimension.html
Labels: go
